<div class='loader-container {{if hidden 'hidden' ''}}'>
  <div class='overlay'></div>
  <div class='loader'>
    <div class='thingy'></div>
    <div class='thingy'></div>
    <div class='thingy'></div>
    <div class='thingy'></div>
  </div>
</div>
