@import url('https://fonts.googleapis.com/css?family=Lato|Oswald');

$body-fonts:   'Lato',   'Calibri', sans-serif;
$header-fonts: 'Oswald', 'Impact',  sans-serif;

$primary:           #434343;
$secondary:         #000000;
$font-color:        #ffffff;
$invert-font-color: #000000;

$buttonHoverColor     : $primary;
$buttonTransitionSpeed: 150ms;
$buttonDarknessChange : 0.8;

@import 'body'   ;
@import 'headers';
@import 'buttons';
@import 'form'   ;
@import 'loader' ;
@import 'output' ;
