@import url('https://fonts.googleapis.com/css?family=Lato|Oswald');

$body-fonts:   'Lato',   sans-serif;
$header-fonts: 'Oswald', sans-serif;

$primary:    #89f7fe;
$secondary:  #66a6ff;
$darker:     #00aacc;
$font-color: #000000;

@mixin user-select($property) {
  -webkit-touch-callout: $property;
    -webkit-user-select: $property;
     -khtml-user-select: $property;
       -moz-user-select: $property;
        -ms-user-select: $property;
            user-select: $property;
}

@import 'body'   ;
@import 'headers';
@import 'buttons';
@import 'form'   ;
@import 'loader' ;
@import 'output' ;
