body {
  background:  $primary;
  background:  linear-gradient(90deg, $primary 0%, $secondary 100%);
  font-family: $body-fonts;
  color:       $font-color;
  text-align:  center;
  transition:  background 0.5s;

  h1:first-of-type {
    margin-top: -15px;
  }
}

::-webkit-scrollbar {
  display: none;
}
