button {
  transition:       background $buttonTransitionSpeed, filter $buttonTransitionSpeed;
  background:       none;
  border:           none;
  border-radius:    15px;
  font-family:      $body-fonts;
  font-size:        2em;
  margin-bottom:    1em;
  padding:          30px 100px;
  color:            $font-color;
  outline:          none;
  cursor:           pointer;
  user-select:      none;
  width:            $buttonWidth;
}

button:hover {
  background: $buttonHoverColor;
}

button:active {
 filter: brightness($buttonDarknessChange);
}
