button {
  transition:       background 0.5s;
  background:       none;
  border:           none;
  border-radius:    20px;
  font-family:      $body-fonts;
  font-size:        2em;
  margin-bottom:    1em;
  padding:          30px 100px;
  color:            $font-color;
  outline:          none;
  cursor:           pointer;
  @include          user-select(none);
}

button:hover {
  background: $secondary;
}

button:active {
 background: $darker;
}