.output {
  word-wrap:     break-word;
  max-width:     50%;
  margin:        0 auto;
  background:    #ffffff;
  border-radius: 15px;
  padding:       0 15px;
  transition:    background 0.5s;

  .copy-btn {
    transition:    none;
    background:    none;
    border:        none;
    border-radius: none;
    font-size:     1em;
    margin-bottom: 0;
    margin-left:  -15px;
    margin-right: -15px;
    padding:       7.5px 15px 7.5px 15px;
    cursor:        pointer;
    box-sizing:    inherit;
    width:         100%;
    color:         $invert-font-color;
  }

  .copy-btn:hover  {
    background: none;
  }
  .copy-btn:active {
    background-color: #e6e6e6;
  }

  .copy-btn:first-of-type {
    padding-top:    15px;
    border-radius:  15px 15px 0 0;
  }
  .copy-btn:last-of-type {
    padding-bottom: 15px;
    border-radius:  0 0 15px 15px;
  }
  .copy-btn:first-of-type:last-of-type {
    padding-top:    15px;
    padding-bottom: 15px;
    border-radius:  15px 15px 15px 15px;
  }
}

.output.green {
  background: #66ff33;
}
.output.red   {
  background: #ff0000;
}
.output.hidden {
  display:    none;
}
